<a href="https://colab.research.google.com/github/piiop/neural-network-challenge-1/blob/main/student_loans_with_deep_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Student Loan Risk with Deep Learning

In [1]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report
from pathlib import Path

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `student-loans.csv` file into a Pandas DataFrame. Review the DataFrame, looking for columns that could eventually define your features and target variables.

In [2]:
# Read the csv into a Pandas DataFrame
file_path = "https://static.bc-edx.com/ai/ail-v-1-0/m18/lms/datasets/student-loans.csv"
loans_df = pd.read_csv(file_path)

# Review the DataFrame
loans_df.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score,credit_ranking
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,1
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0

In [3]:
# Review the data types associated with the columns
loans_df.dtypes

payment_history           float64
location_parameter        float64
stem_degree_score         float64
gpa_ranking               float64
alumni_success            float64
study_major_code          float64
time_to_completion        float64
finance_workshop_score    float64
cohort_ranking            float64
total_loan_score          float64
financial_aid_score       float64
credit_ranking              int64
dtype: object

In [4]:
# Check the credit_ranking value counts
loans_df["credit_ranking"].value_counts()

credit_ranking
1    855
0    744
Name: count, dtype: int64

### Step 2: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “credit_ranking”. The remaining columns should define the features dataset.

In [5]:
# Define the target set y using the credit_ranking column
y = loans_df["credit_ranking"]

# Display a sample of y
y[:5]

0    0
1    0
2    0
3    1
4    0
Name: credit_ranking, dtype: int64

In [6]:
# Define features set X by selecting all columns but credit_ranking
X = loans_df.drop(columns=["credit_ranking"])

# Review the features DataFrame
X.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4

### Step 3: Split the features and target sets into training and testing datasets.

In [7]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 4: Use scikit-learn's `StandardScaler` to scale the features data.

In [8]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_train_scaled = scaler.fit_transform(X_train)

# Fit the scaler to the features testing dataset
X_test_scaled = scaler.transform(X_test)

---

## Compile and Evaluate a Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [9]:
# Define the the number of inputs (features) to the model
input_nodes = len(X.columns)

# Review the number of features
input_nodes

11

In [10]:
# Define the number of hidden nodes for the first hidden layer
first_nodes = 6


# Review the number hidden nodes in the first layer
first_nodes

# Define the number of hidden nodes for the second hidden layer
second_nodes = 6

# Define the number of neurons in the output layer
output_nodes = 1

In [11]:
# Create the Sequential model instance
nn_model = tf.keras.models.Sequential()

# Add the input layer
nn_model.add(tf.keras.Input(shape=(input_nodes,)))

# Add the first hidden layer
nn_model.add(Dense(units=first_nodes, activation="relu"))

# Add the second hidden layer
nn_model.add(Dense(units=second_nodes, activation="relu"))

# Add the output layer to the model specifying the number of output neurons and activation function
nn_model.add(Dense(units=output_nodes, activation="sigmoid"))

In [12]:
# Display the Sequential model summary
nn_model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 6)              │            72 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 6)              │            42 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │             7 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 121 (484.00 B)

 Trainable params: 121 (484.00 B)

 Non-trainable params: 0 (0.00 B)

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [13]:
# Compile the Sequential model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [14]:
# Fit the model using 50 epochs and the training data
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.4598 - loss: 0.7862
Epoch 2/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 919us/step - accuracy: 0.5299 - loss: 0.7233
Epoch 3/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.5177 - loss: 0.7103
Epoch 4/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 811us/step - accuracy: 0.5782 - loss: 0.6691
Epoch 5/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 946us/step - accuracy: 0.5877 - loss: 0.6649
Epoch 6/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.6022 - loss: 0.6516
Epoch 7/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 824us/step - accuracy: 0.6194 - loss: 0.6396
Epoch 8/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 983us/step - accuracy: 0.6248 - loss: 0.6287
Epoch 9/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6581 - loss: 0.6045
Epoch 10/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.6643 - loss: 0.5947
Epoch 11/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.6857 - loss: 0.5767
Epoch 12/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.6839 - loss: 0.5779
Epoch 13/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6919 - loss: 0.5586
Epoch 14/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 973us/step - accuracy: 0.7135 - loss: 0.5474
Epoch 15/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7103 - loss: 0.5547
Epoch 16/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 919us/step - accuracy: 0.7250 - loss: 0.5387
Epoch 17/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7370 - loss: 0.5380
Epoch 18/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 811us/step - accuracy: 0.7422 - loss: 0.5460
Epoch 19/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 919us/step - accuracy: 0.7521 - loss: 0.5279
Epoch 20/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7423 - loss: 0.5262
Epoch 21/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 919us/step - accuracy: 0.7451 - loss: 0.5185
Epoch 22/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 784us/step - accuracy: 0.7386 - loss: 0.5287
Epoch 23/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 838us/step - accuracy: 0.7471 - loss: 0.5174
Epoch 24/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 838us/step - accuracy: 0.7443 - loss: 0.5217
Epoch 25/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 784us/step - accuracy: 0.7542 - loss: 0.5206
Epoch 26/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 919us/step - accuracy: 0.7422 - loss: 0.5329
Epoch 27/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 946us/step - accuracy: 0.7662 - loss: 0.4894
Epoch 28/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 757us/step - accuracy: 0.7652 - loss: 0.5062
Epoch 29/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 865us/step - accuracy: 0.7479 - loss: 0.5246
Epoch 30/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 973us/step - accuracy: 0.7383 - loss: 0.5367
Epoch 31/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 784us/step - accuracy: 0.7393 - loss: 0.5188
Epoch 32/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 811us/step - accuracy: 0.7371 - loss: 0.5200
Epoch 33/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 784us/step - accuracy: 0.7366 - loss: 0.5293
Epoch 34/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 757us/step - accuracy: 0.7449 - loss: 0.5144
Epoch 35/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7643 - loss: 0.5055
Epoch 36/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 730us/step - accuracy: 0.7536 - loss: 0.5040
Epoch 37/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7364 - loss: 0.5298
Epoch 38/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7442 - loss: 0.5238
Epoch 39/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 946us/step - accuracy: 0.7462 - loss: 0.5081
Epoch 40/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7490 - loss: 0.5070
Epoch 41/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 1000us/step - accuracy: 0.7558 - loss: 0.5114
Epoch 42/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7543 - loss: 0.5007
Epoch 43/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7520 - loss: 0.5122
Epoch 44/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7468 - loss: 0.5155
Epoch 45/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7523 - loss: 0.5044
Epoch 46/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7440 - loss: 0.5098
Epoch 47/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 898us/step - accuracy: 0.7592 - loss: 0.4938
Epoch 48/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 897us/step - accuracy: 0.7543 - loss: 0.4983
Epoch 49/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 983us/step - accuracy: 0.7626 - loss: 0.4864
Epoch 50/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 889us/step - accuracy: 0.7611 - loss: 0.4948

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [15]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

13/13 - 0s - 10ms/step - accuracy: 0.7250 - loss: 0.5158
Loss: 0.5157613158226013, Accuracy: 0.7250000238418579

### Step 4: Save and export your model to a keras file, and name the file `student_loans.keras`.

In [17]:
# Set the model's file path
file_path = Path("student_loans.keras")

# Export your model to a keras file
nn_model.save(file_path)

---
## Predict Loan Repayment Success by Using your Neural Network Model

### Step 1: Reload your saved model.

In [18]:
# Set the model's file path
file_path = Path("student_loans.keras")

# Load the model to a new object
nn_imported = tf.keras.models.load_model(file_path)

### Step 2: Make predictions on the testing data and save the predictions to a DataFrame.

In [19]:
# Make predictions with the test data
predictions = nn_imported.predict(X_test_scaled,verbose=2)


# Display a sample of the predictions
predictions[:5]

13/13 - 0s - 6ms/step

array([[0.52033806],
       [0.29018807],
       [0.7366406 ],
       [0.645669  ],
       [0.96744204]], dtype=float32)

In [20]:
# Save the predictions to a DataFrame and round the predictions to binary results
predictions_df = pd.DataFrame(columns=["predictions"], data=predictions)
predictions_df["predictions"] = round(predictions_df["predictions"],0)
predictions_df

     predictions
0            1.0
1            0.0
2            1.0
3            1.0
4            1.0
..           ...
395          1.0
396          0.0
397          1.0
398          0.0
399          1.0

[400 rows x 1 columns]

### Step 4: Display a classification report with the y test data and predictions

In [21]:
# Print the classification report with the y test data and predictions
print(classification_report(y_test, predictions_df["predictions"].values))

              precision    recall  f1-score   support

           0       0.69      0.77      0.72       188
           1       0.77      0.69      0.73       212

    accuracy                           0.72       400
   macro avg       0.73      0.73      0.72       400
weighted avg       0.73      0.72      0.73       400

---
## Discuss creating a recommendation system for student loans

Briefly answer the following questions in the space provided:

1. Describe the data that you would need to collect to build a recommendation system to recommend student loan options for students. Explain why this data would be relevant and appropriate.

2. Based on the data you chose to use in this recommendation system, would your model be using collaborative filtering, content-based filtering, or context-based filtering? Justify why the data you selected would be suitable for your choice of filtering method.

3. Describe two real-world challenges that you would take into consideration while building a recommendation system for student loans. Explain why these challenges would be of concern for a student loan recommendation system.

1) To build a recommendation system, I would need data that is a combination of student information and loan information (amounts, interest rates, terms). I could supplement that with data about their institution and the current job market. The student's financial information (like financial need, credit score, employment status, etc) and general scholastic information (like GPA, study major, time to completion of degree, etc) would provide good data to match the student with a loan. 


2) The recommendation system built with just the student and loan information would be using content-based filtering because I would be using characteristics of both the student and the loan to find an appropriate match. With extra information, the recommendation system could also move into context-based filtering by taking into account information about their specific institution (graduation rates, post-grad employment rates, average starting salaries for grads) or current job market (economic conditions and trends).


3) One challenge would be that most students only take 1-3 loans.